@font-face
{
	font-family: "eb-garamond";
	src: url('../FONT/eb-garamond/EBGaramond-Regular.ttf');
}

@font-face
{
	font-family: "garamond";
	src: url('../FONT/garamond-bold/garamond-bold.ttf');
}

@font-face
{
	font-family: "garamond-amsterdam";
	src: url('../FONT/Garamont Amsterdam BQ Regular/Garamont Amsterdam BQ Regular.otf');
}



/*------------------------------------------ BODY --------------------------------------------*/
body
{
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	margin: 0;
	background-color: transparent;
	background-image: url('../IMAGES/BACKGROUND/background.jpeg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: cover;
}

*
{
	font-family: "eb-garamond";
	color: black;
}

h2
{
	font-size: 2em;
	font-family: "garamond";
	letter-spacing: 0.9rem;
}

h2 a
{
	font-size: 1.5em;
	font-family: "garamond";
	letter-spacing: 0.9rem;
}

h4
{
	font-size: 2em;
	letter-spacing: 0.6rem;
}

#accordion h5 button
{
	font-size: 1em;
	font-family: "eb-garamond";
	color: black;
	text-decoration: none;
	font-weight: 500;
}
/*------------------------------------------- NAV --------------------------------------------*/

nav
{
	background-color: white;
	border-bottom: solid;
	border-width: 3px;
	border-color: rgb(223, 203, 0);
	width: 100%;
	margin-top: 0;
}


nav > a
{

	background-color: pink;
}


.nav-item
{
	padding: 0.5rem 2rem;
}

.nav-link
{
	font-family: "garamond";
	font-size: 2em;
	color: black;
	letter-spacing: 0.3rem;
}


/*----------------------------------------- CAROUSEL -----------------------------------------*/

.carousel-control-prev-icon,
.carousel-control-next-icon 
{
     width: 150px;
     height: 150px;
}

.carousel-control-prev,
.carousel-control-next
{
	opacity: 1;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #000;
  text-decoration: none;
  outline: 0;
  opacity: 0.5;
}

.carousel-caption
{
	background-color: rgba( 0, 0, 0, 0.5);
	padding: 2%;
	position: absolute;
	top: 40%;
	bottom: 40%;
}

.carousel-caption h1, .carousel-caption p
{
	color: white;
}


/*---------------------------------------- NOS GAMMES ET NOS HISTOIRES ----------------------------------------*/

hr {
  height: 3px;
  margin: 0.5em 0;
  padding: 0;
  background-color: rgb(223, 203, 0);
  border: 0;
}

.titre-text
{
	text-align: center;
	font-size: 2em;
	font-weight: 550;
}


/*-- CARD GAMMES --*/


.container-fluid:nth-of-type(3) 
{
	width: 90%;
}

.container-fluid:nth-of-type(3) .card-card
{
	margin-bottom: 5%;
}

.container-fluid:nth-of-type(3) .card
{
	width: 85%;
	height: auto;
}

.container-fluid:nth-of-type(3) .card-body .btn
{
	background-color: rgb(223, 203, 0);
	border: none;
	font-weight: lighter;
	font-size: 0.9em;
	padding: 0.15rem 0.40rem;
}

/*-- CARD HISTOIRES --*/


.container-fluid:nth-of-type(4)
{
	margin-top: 5%;
	width: 90%;
}

.container-fluid:nth-of-type(4) p
{

	letter-spacing: 1.5px;
}

.container-fluid:nth-of-type(4) .container .row
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-fluid:nth-of-type(4) .card
{
  width: 160%;
  background-color: transparent;
  border: none;
}

.container-fluid:nth-of-type(4) .rounded-circle
{

	border-radius: 100%;
}


.container-fluid:nth-of-type(4) .card-body
{
	text-align: center;
}

.container-fluid:nth-of-type(4) .btn
{
	background-color: rgb(223, 203, 0);
	border: none;
	font-weight: lighter;
	font-size: 0.9em;
	padding: 0.25rem 0.25rem;
}

/*------------------------------------- NOS ORIGINES / INFRASTRUCTURE / ACCORDÉON -----------------------------------*/

.container:nth-of-type(4) hr
{
  height: 3px;
  margin: 3em 0;
  padding: 0;
  background-color: rgb(223, 203, 0);
  border: 0;
}

/*-- NOS ORIGINES --*/

.container:nth-of-type(4)
{
	margin-top: 10%;

}

/*-- NOS INFRASTRUCTURES --*/


.origines
{
	align-self: center;
}

.origines p
{
	letter-spacing: 1.5px;
}

/*-- ACCORDÉON --*/

#accordion
{
	display: block;
	position: relative;
	width: 50%;
}

#accordion .card-header
{
	background-color: rgb( 223, 203, 0);
	border: solid black thin;
	border-radius: 5px 5px;
}

#accordion .card-body
{
	background-color: white;
	letter-spacing: 1.5px;
	text-align: left;
}

/*--------------------------------------------------------- FOOTER ---------------------------------------------------*/

footer
{
	background-color: white;
}


/*-- CONTACT --*/

.contacter
{
	font-size: 1.1rem;
	color: black;
	letter-spacing: 2.5px;
}

.contacter p 
{
	font-family: "garamond-amsterdam";
}

a[href="tel:+3301 52 48 68 20"]
{
	color: black;
	text-decoration: none;
	font-family: "garamond-amsterdam";
}

.contacter .reseauS
{
	width: 50%;
	margin-left: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*-- FORMULAIRE --*/

.adresse h4
{
	font-size: 1.5em;
	font-family: "garamond";
	letter-spacing: 0;
}

label
{
	font-family: "garamond";
	font-weight: bold;
	font-size: 0.9rem;
	color: black;
	text-align: left;
	letter-spacing: 2px;
}

.form-group input
{
	border-color: black;
	border-width: thin;
	border-radius: 5px;
	margin-top: -2%;
	padding: 5px;
	background-color: rgba(205,205,205,0.50);
}

.form-group textarea
{
	border-color: black;
	border-width: thin;
	border-radius: 5px;
	background-color: rgba(205,205,205,0.50);

}

button[type="submit"]
{
	font-family: "garamond";
	width: 25%;
	font-weight: bold;
	background: rgb(223,203,0);
	border: none;
    border-radius: 0.25rem;
}


/*-- MAPS --*/


iframe
{
	background-color: pink;

}

.maps h4
{
	font-size: 1.5em;
	font-family: "garamond";
	letter-spacing: 0;
}
